DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=stock
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@db:5432/stock
JWT_SECRET_KEY=8VVVhm34VMYAyHDb9Y5U9X75VfWNBBxM
JWT_EXPIRE_HOURS=8
